*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font:2.2rem;
    --p-font: 1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 17%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 17px 11px;
    border-bottom: 1px solid #93C668;
    transition: all .45s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    background: transparent;
    border-radius: 20px;
    transition: all ease .45s;
    text-decoration: none;
}

.navbar a:hover{
    background: #f7f9fb;
}

.navbar a.active{
    background: #f7f9fb;
}

.icons{
    display: flex;
    align-items: center;
}

.icons i{
    height: 50px;
    width: 50px;
    background: #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 22px;
    margin-right: 25px;
    margin-left: 10px;
    transition: all .45s ease;
}

.icons i:hover{
    transform: scale(0.9);
}

#menu-icon{
    font-size: 40px;
    color: var(--other-color);
    z-index: 10001;
    cursor: pointer;
    margin: 15px;
    display: none;
 
}

section{
    padding: 100px 11% 90px;
}

.home{
    height: 100vh;
    width: 100%;
    background-image: url("image/shopping-cart-with-wooden-elements.jpg");
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.home-img img{
    width: 100%;
    height: auto;
    rotate: 45;
}

.home-text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--other-color);
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.2;
    margin: 25px 0 45px;
}

.btn{
    display: inline-block;
    padding: 16px 30px;
    background: var(--text-color);
    color:var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}

.btn :hover{
    letter-spacing: 2px;
    opacity: 0.8;
}

header.sticky{
    background: var(--bg-color);
    padding: 14px 11%;
}

.middle-text h2{
    font-size:var(--h2-font);
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}

.features-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.row{
    padding: 40px 30px;
    background: #76CBCB;
    border-radius: 15px;
    transition: all .45s ease;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    gap: 2rem;
}
.row-img img{
    width: 170px;
    height: auto;
    max-width: 100%;
}

.row-text h6{
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    margin-bottom: 1rem;
}

.row-text h3{
    margin-bottom: 3rem;
    font-size: 20px;
    font-weight: 600;
}

.row-btn{
    display: inline-block;
    padding: 12px 22px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 15px;
    border-radius: 30px;
    transition: all .45s ease;
}

.row-btn:hover{
    color: var(--bg-color);
    background: var(--text-color);
}

.row2{
    background: #fef2f2;
}
.row3{
    background: #eff6ff;
}

.row:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.box{
    position: relative;
}

.box-img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1.2rem;
    transition: all .45s ease;
}

.box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.1;
}

.box h4{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.inbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.price{
    display: inline-block;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #ef4444;
    color: #ef4444;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .45s ease;
}

.price:hover{
    letter-spacing:1px;
}

.rating a{
    font-size: 19px;
    color: #ef4444;
    margin-left: 4px;
}

.heart i{
    position: absolute;
    height: 42px;
    width: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:var(--bg-color);
    color: #ef4444;
    font-size: 22px;
    border-radius: 50%;
    transition: all .45s ease;
}

.heart i:hover{
    color: var(--bg-color);
    background: #ef4444;
    cursor: pointer;
}


.kids-product{
    height: 50vh;
    justify-content:space-between;
    background-size: auto;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    background-color: #93C668;


}

.btn{
    display: inline-block;
    padding: 16px 30px;
    background: var(--text-color);
    color:var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}

.btn:hover{
    letter-spacing: 2px;
    color: #fff;
}

.kids-text{
    max-width: 500px;
    margin-left: 120px;
}

.kids-text h3{
    margin-bottom: 3.3rem;
    line-height: 1.5;   
    margin-bottom: 1rem;
    font-weight: bolder;
}

.kids-text p{
    font-size: var(--p-font);
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: var(--other-color);
}

.carousel-item{
    height: 50vh;
    position: relative;

}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    display: contents;
    
}

#one{
        background-image: url("image/one.jpg");
        background-repeat: no-repeat;
        background-size:auto;
        background-position: center;
        background-color: #fff; 
}

#two{
    background-image: url("image/two.jpg");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}
#three{
    background-image: url("image/three.webp");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}
#four{
    background-image: url("image/four.webp");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}
#five{
    background-image: url("image/five.webp");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}
#six{
    background-image: url("image/six.webp");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}
#seven{
    background-image: url("image/seven.webp");
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    background-color: #fff; 
}


.contact{
    padding: 160px 11% 40px
}

.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
}

.contact-content h5{
    font-size: 1rem;
    margin-bottom: 20px;
}

.contact-content li{
    margin-bottom: 12px;
}

.contact-content li a{
    display: block;
    font-size: 15px;
    color: #374151;
    font-family: 400;
    transition: all .45s ease;
}

.contact-content li a:hover{
    color: var(--text-color);
    transform: translateY(-5px);
}

.end-text p{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--other-color);
}



@media (max-width: 1700px){
    header{
        padding: 12px 3%;
    }
    header.sticky{
        padding: 10px 3%;
    }
    section{
        padding: 80px 3% 70px;
    }
    .home{
        gap: 1rem;
    }
}

@media (max-width: 1515px){
    :root{
        --big-font: 3.3rem;
        --h2-font: 2rem;
    }
}
@media (max-width: 1410px){
    .row-text h6{
        margin-bottom: 5rem;
    }
    .row-text h3{
        margin-bottom: 1rem;
    }
    .kids-text{
        margin-left: 65px;
    }
    .home{
        height: 90vh;
    }
}

@media (max-width: 1200px){
    #menu-icon{
        display: initial;
        height: 50px;
        width: 50px;
        background: #f7f9fb;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--other-color);
        font-size: 32px;
    }
    .navbar{
        position: absolute;
        top: -100%;
        right: -100%;
        width: 300px;
        height: 90vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13px 30px;
        transition: all .45s ease;
    }
    .navbar a{
        display: block;
        margin: 1.1rem 0;
    }
    .navbar.open{
        right: 0;
    }
}

@media (max-width: 940px){
    .home{
        grid-template-columns: 1fr;
        text-align: center;
        height: 117vh;
    }
    .home-text{
        padding-top: 50px;
    }
    .icon i{
        margin-right: 15px;
        margin-left: 5px;
    }
}

@media (max-width: 580px){
    :root{
        --big-font: 3rem;
        --h2-font: 1.8rem;
    }
    .kids-text{
        margin-right: 30px;
    }
    .kids-text p{
        margin-right: 70px;
    }
   .kids-product{
    grid-template-columns: 1fr;
    }
    .navbar a{
        text-decoration: none;
    }
}

